.ChessGame {
  display: flex;
  justify-content: center;
}

.Chessboard {

}
.Chessboard-row {
  display: flex;
}

.Chessboard-square {
  display: flex;
  width: 48px;
  height: 48px;
  box-sizing: border-box;  /* collapse borders */
}

.Chessboard-square--dark {
  background-color: #917156;
}

.Chessboard-square--light {
  background-color: #eee;
}

.Piece__image {
  width: 45px;
  height: 45px;
  margin: auto;
}