#root {
  display: flex;
}

.PartnerGame {
  margin-left: 20px;
}

.Chessboard {
  display: flex;
}

.Chessboard-row {
  display: flex;
}

.Piece {
  display: flex;
  flex: 1;
}

.Piece__image {
  width: 44px;
  height: 44px;
  margin: auto;
  cursor: pointer;
}

.PieceDragLayer {
  position: fixed;
  pointer-events: none;
  z-index: 100;
  left: 0;
  top: 0;
}

.Promotion {
  display: flex;
}

.FileCoordinates {
  display: flex;
}

.FileCoordinates__square {
  width: 48px;
  height: 14px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RankCoordinates__square {
  width: 14px;
  height: 48px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}