.GamePage {
  display: flex;
  justify-content: center;
}

.ChessGame {
  margin-top: 30px;
}

.ChessGame__play {
  display: flex;
  justify-content: center;
}

.Reserve {
  display: flex;
}

.Chessboard {
}

.Chessboard-row {
  display: flex;
}

.Chessboard-square {
  display: flex;
  width: 48px;
  height: 48px;
  box-sizing: border-box;  /* collapse borders */
}

.Chessboard-square--checkmated {
  border: 2px solid red;
}

.Chessboard-square--dark {
  background-color: #917156;
}

.Chessboard-square--light {
  background-color: #eee;
}

.Chessboard-square--active {
  background-color: green;
}

.Chessboard-square--move {
  border: 3px solid green;
}

.Piece {
  display: flex;
  flex: 1;
}

.Piece__image {
  width: 44px;
  height: 44px;
  margin: auto;
  cursor: pointer;
}

.PieceDragLayer {
  position: fixed;
  pointer-events: none;
  z-index: 100;
  left: 0;
  top: 0;
}

.Sidebar {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 13px;
  width: 75px;
}